body {
    margin: 0;
}
.container {
    margin-left: 45px;
    margin-top: 150px;
    width: 1600px;
}

.container .text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin-left: -25px;
    color: #b1b1b1;
    position: relative;
    display: inline;
}

.mayden, .academy {
    display: inline;
    margin: 10px;
}





.y {
    height: 23px;
    width: 18px;
    top: 115px;
    left: 13.4px;
    transform: rotate(23deg);
    border-bottom-right-radius: 60%;
}

.y_1 {
    height: 23px;
    width: 18px;
    top: 115px;
    left: 13.4px;
    transform: rotate(23deg);
    border-bottom-right-radius: 60%;
}


.letters {
    background-color: #b1b1b1;
    position: absolute;
}

.top-left-curve {
    border-top-left-radius: 45%;
}

.top-right-curve {
    border-top-right-radius: 45%;
}

.bottom-left-curve {
    border-bottom-left-radius: 45%;
}

.bottom-right-curve {
    border-bottom-right-radius: 45%;
}

.square {
    height: 12px;
    width: 17px;
    top: 27px;
    left: 6.1px;
}

.square1 {
    height: 12px;
    width: 16.9px;
    top: 26px;
    left: 68.5px;
}

.square2 {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 28.8px;
    left: 15.8px;
    transform: rotate(-23deg);
}

.square3 {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 27.8px;
    left: 65.9px;
    transform: rotate(23deg);
}

.square4 {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 32.8px;
    left: 37.4px;
    transform: rotate(-22deg)
}


.d {
    height: 12px;
    width: 17.1px;
    top: 26px;
    left: 44.7px;
}

.d_2 {

    height: 12px;
    width: 17.1px;
    top: 31px;
    left: 686.8px;
}

.n1 {
    height: 12px;
    width: 17.5px;
    top: 98px;
    left: 5.9px;

}

.n_1 {
    height: 12px;
    width: 17.4px;
    top: 98px;
    left: 45px;
}

.m {
    height: 12px;
    width: 17.2px;
    top: 98px;
    left: 5.8px;
}

.m_1 {
    height: 12px;
    width: 17.4px;
    top: 98px;
    left: 44.5px;
}

.m_2 {
    height: 12px;
    width: 17px;
    top: 98px;
    left: 83.3px;
}

.a {
    height: 12px;
    width: 17.1px;
    top: 31px;
    left: 26px;
    transform: rotate(18deg);
    border-top-left-radius: 61%;
}


.a_2 {
    height: 12px;
    width: 13.1px;
    top: 31.1px;
    left: 32px;
}

.triangle {
    border-right: 20px solid #ffffff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 84px;
    z-index: 10;
}

.triangle-left {
    left: 38.5px;
}

.triangle-left_2 {
    left: 748.5px;
}

.triangle-left_3 {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 56px solid #ffffff;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 53px;
    left: 24px;
}



.circle {
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 300px;
    overflow: hidden;
    float: left;
    position: relative;
    left: 1157px;
    top: -72px;
}
.logo_left {
    fill:#98b36d;
}
.logo_right {
    fill:#478ead;
}
.logo_curve {
    width:35px;
    height:300px;
    fill:#ffffff;
}
.logo_center {
    fill:#e3793b;
}
.logo_bottom {
    fill:#315071;
}
