body {
    margin: 0;
}
.container {
    width: 1155px;
    height: 700px;
}
.circle {
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 300px;
    overflow: hidden;
    float: right;
}
.logo_left {
    fill:#98b36d;
}
.logo_right {
    fill:#478ead;
}
.logo_curve {
    width:35px;
    height:300px;
    fill:#ffffff;
}
.logo_center {
    fill:#e3793b;
}
.logo_bottom {
    fill:#315071;
}



.text {
    margin-top: 10px;
    height: 700px;
    width: 850px;
    background-color: #ffffff;
    overflow: hidden;
    float: left;
    display: inline;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

text {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
}
